<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding-top"  padding>

  <ion-button (click)="crerarPage()" color="dark" class="my-action-button">Crear Nuevo Rest</ion-button>

</ion-content>

<ion-content>
  <div style="position: absolute; bottom:10px;">
    <ion-button style=" position: absolute; bottom: 0;" (click)= "myAction()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Salir</ion-button>
    <ion-button (click)= "languagesPage()" color="dark" class="my-action-button" style="padding-left: 80px;">Idiomas</ion-button>
  </div>
</ion-content>
