<ion-content class="background"  padding >

  
  <ion-card>

    <div style="margin-top: 15px; padding: 10px;">
      Crear Nuevo Restaurante
    
    </div>

    <ion-item class="itemInut">
      <ion-label position="stacked"> Nombre: </ion-label>
      <ion-input [(ngModel)]="newItem.nombre"></ion-input>
    </ion-item>
    
    <ion-item class="itemInut">
      <ion-label position="stacked"> Telefono: </ion-label>
      <ion-input type="number" [(ngModel)]="newItem.telefono"></ion-input>
    </ion-item>

    <!-- <ion-item class="itemInut">
      <ion-label position="stacked"> Ubicacion: </ion-label>
      <ion-input [(ngModel)]="newItem.ubi"></ion-input>
    </ion-item> -->

    <ion-item class="itemInut">
      <ion-label position="stacked">Descripcion: </ion-label>
      <ion-input [(ngModel)]="newItem.descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Ubicacion
      </ion-label>
      <ion-select placeholder="Select" [(ngModel)]="newItem.ubi">
        <ion-select-option value="a">Ciudad Quesada</ion-select-option>
        <ion-select-option value="b">Fortuna</ion-select-option>
        <ion-select-option value="c">Florencia</ion-select-option>
        <ion-select-option value="d">Santa Clara</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-card>



  <ion-button (click)="save()" color="dark" class="my-action-button">Crear Restaurante</ion-button>




  <div style="position: absolute; bottom:10px;">
    <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Atras</ion-button>
  </div>
</ion-content>