
<ion-content class="background">
  <ion-img src="../../assets/quehambre.png" style="padding-top: 40px;"  ></ion-img> 
  <ion-card>
    <ion-text>
      <h3>Gracias por preferir realizar sus pedidos de servicio con Que Hambre aplicación</h3>
      <h5>Se le ha enviado un correo electrónico con la confirmación del pedido</h5>
      
    </ion-text>
  </ion-card>
  
    

  <div class="ion-text-center">
    <ion-button  (click)= "OtraCompra()" color="dark">Realizar otra compra</ion-button>
    <ion-button (click)= "SalirApp()" color="dark">Salir de la aplicaion</ion-button>
  </div>
</ion-content>
