
<ion-content class="background"  padding >
  <ion-img src="../../assets/videresta.png" style="padding-top: 60px; width: 300px;
  padding-left: 30px;"></ion-img> 
  <ion-card>
    <iframe width="300" height="315" src="https://www.youtube.com/embed/LOAkJf8bErU"
     title="YouTube video player" frameborder="0" 
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen></iframe>
  </ion-card>


  <div style="position: absolute; bottom:10px;">
    <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Atras</ion-button>
  </div>
</ion-content>
