
<ion-content class="background"  padding >
  <ion-img src="../../assets/menu.png" style="padding-top: 60px; width: 250px;
  padding-left: 60px;"></ion-img> 
      <ion-card>
        <ion_card-content  >
            <ion-item  *ngFor="let menu of testMenu" (click)="comprar(menu)" (click)="presentPopover()"  >
              <ion-label *ngIf="menu.id === test" >
                <p>Plato</p>
                {{menu.nombrePlato}}
                <!-- <ion-buttons>
                  <ion-buttons (click)="comprar(menu)" *ngIf="menu.id === test">
                    <ion-icon slot="icon-only" name="cart"></ion-icon>
                  </ion-buttons>
                </ion-buttons> -->
              </ion-label>
              <ion-label *ngIf="menu.id === test">
                <p>Precio</p>
                ₡{{menu.precio}}
              </ion-label>
              <ion-label>
                <ion-item *ngIf="menu.id === test">
                  <img [src]="menu.imagen" style="display: inline-block;">
                  <!-- <ion-input type="number" value="1"></ion-input> -->
                </ion-item> 
              </ion-label>
            </ion-item>
        </ion_card-content>
      </ion-card>
    
  <div style="position: absolute; bottom:10px;">
    <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Atras</ion-button>
  </div>
</ion-content>