<ion-header>
  <ion-toolbar>
    <ion-title>Restaurantes</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let resta of items">
    <ion-label>
      {{resta.nombre}}
    </ion-label>
    <ion-label>
      {{resta.descripcion}}
    </ion-label>
    <ion-buttons slot="end">
      <ion-buttons (click)="setMenu()" (click)="editItem(resta)">
        <ion-icon slot="icon-only" name="restaurant"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-item>
</ion-content>

<ion-content>
  <div style="position: absolute; bottom:10px;">
    <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Atras</ion-button>
  </div>
</ion-content>